*{
    margin: 0 auto;
}

.container{
   margin: 0 auto;
   width: 30%;
}

.buttons{
    
    display: flex;
    justify-content: space-around;

  
}


#startstop{
    padding:10px 15px;
    background: #90e703;
}
#reset{
    background:#eb1313;
    padding:10px 15px;

}

button{
    margin:3px;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: #fff;
    flex-grow: 1;

}

button:hover{
    cursor: pointer;
}


#display{
    margin-top: 50px;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
}


/* on small screens */

@media screen and (max-width: 600px){
    .container{
        width: 100%;
    }

    .buttons{
        flex-direction: column;
        justify-content: space-around;
        margin-left: 40px;
        margin-right: 40px;
    
      
    }


   
}